body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    color: #FFFFFF;
}

.backphoto{
    background-image: url("../img/back_photo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 811px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 166px 121px 164px;
    padding: 24px 0 0 0;
}

.logo{
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 0;

}

.circle{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    line-height: 8px;
    font-size: 4ch;
    text-align: center;
}

.maintext1{
    margin: 0 0 211px 166px;
}

.text1{
    margin: 0 0 22px 0;
    font-size: 14px;
    font-weight: 400;
}

.text2{
    margin: 0 0 24px 0;
    font-size: 60px;
    font-weight: 700;
}

.text3{
    margin: 0 35px 45px 0;
    font-size: 16px;
}

button{
    text-align: left;
    background-color: transparent;
    color: #FFD723;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    color: white;
}